body {
  margin: 0 auto;
  max-width: 850px;
  width: 100%;
  background: url("../img/background.jpg");
  font-size: 12px;
  font-family: verdana, arial, sans-serif; }
.header {
  margin: 0 auto 30px;
  min-height: 90px; 
  max-width: 850px; }
.header-logo {
  float: left;
  margin-top: 35px;
  min-width: 160px;
  min-height: 40px;
  width: 200px }
.header-menu {
  float: left;
  margin-top: 35px;
  min-height: 40px;
  width: calc(100% - 200px);
  text-align: right; }
li {
  display: inline-block;
  list-style: none; }
li.active a {
  background: #0f8bbe;
  background: linear-gradient(to bottom, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f8bbe', endColorstr='#0eb7fe',GradientType=0 ); }
li:hover:not(.active) a {
  background-color: rgba(255, 255, 255, 0.2); }
li a {
  margin-left: 7px;
  padding: 12px 15px;
  border-radius: 15px;
  color: #fefefe;
  text-decoration: none;
  text-transform: uppercase; }
.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
  min-height: 200px;
  max-width: 810px;
  background: rgba(255, 255, 255, 0.1); }
.main {
  order: 3;
  min-height: 320px;
  width: 62%;
  background-color: #efefef; }
.left-sidebar {
  position: relative;
  order: 2;
  width: 38%;
  background-color: #efefef;
  box-sizing: border-box;
  padding: 0 15px 0 20px; }
  .left-sidebar h2 {
    margin: 10px 0;
    font-weight: normal;
    font-size: 24px;
    margin: 10px 0; }
  .left-sidebar p {
    color: #858585;
    text-align: justify;
    line-height: 1.5em; }
  .left-sidebar ul {
    padding-left: 20px; }
  .left-sidebar li {
    padding-left: 5px;
    border-bottom: 1px solid #e4e4e4;
    color: #858585;
    list-style: none;
    font-style: italic;
    line-height: 36px; }
    .left-sidebar li::before {
      position: absolute;
      margin-left: -15px;
      content: url("../img/main-list-arrow.png"); }
  .left-sidebar::after {
    position: absolute;
    top: 15px;
    right: 0;
    height: 90%;
    border-right: 1px solid #e4e4e4;
    content: ""; }
.carousel {
  position: relative;
  order: 1;
  padding: 15px;
  width: 96.2%;
  background-color: #efefef; }
.carousel-item {
  position: relative; }
  .carousel-item__image {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    border: 1px solid #e4e4e4; }
  .carousel-item__icon {
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(32% - 7px);
    height: calc(100% - 14px);
    text-align: right; }
  .carousel-item__icon img {
    margin-top: 8%;
    max-width: 95%; }
  .carousel-item__text {
    position: absolute;
    top: 6px;
    right: 6px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 30px 0 10px;
    width: calc(68% - 7px);
    height: calc(100% - 14px);
    color: #ffffff; }
    .carousel-item__text h3 {
      margin-bottom: 15px;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 24px; }
.carousel-control {
  position: absolute;
  top: 50%; }
  .carousel-control img {
    margin-top: -15px; }
  .carousel-control.left {
    left: 5px; }
  .carousel-control.right {
    right: 5px;
    transform: scale(-1, 1); }
.content-bottom-left {
  order: 4;
  min-height: 110px;
  width: 50%;
  background-color: #efefef; }
.content-bottom-right {
  order: 4;
  min-height: 110px;
  width: 49.9%;
  background-color: #efefef; }
.footer {
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.4); }




